<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Openpit Simulator</title>
</head>
<body>
    <canvas id="mapCanvas" width="800" height="600"></canvas>
    <script>
        var canvas = document.getElementById('mapCanvas');
        var ctx = canvas.getContext('2d');

        // TODO 加载地图
        function loadMap() {
            fetch(
                'http://localhost:5000/map', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                )
                .then(response => response.json())
                .then(data => {
                    var map = data.map;
                })
                .catch(error => console.error('Error:', error));
        }
        var map = loadMap()

        // 绘制地图
        function drawMap() {
            for (var i = 0; i < map.length; i++) {
                for (var j = 0; j < map[i].length; j++) {
                    if (map[i][j] === 1) {
                        ctx.fillStyle = 'black';
                    } else {
                        ctx.fillStyle = 'white';
                    }
                    ctx.fillRect(j * 100, i * 100, 100, 100);
                }
            }
        }

        // TODO 加载车辆位置
        var avatar = {
            x: 0,
            y: 0
        };
        // TODO 刷新车辆位置
        function updateLocation() {
                fetch('http://localhost:5000/avatar')
                    .then(response => response.json())
                    .then(data => {
                        avatar.x = data.x;
                        avatar.y = data.y;
                        updateCanvas();
                    })
                    .catch(error => console.error('Error:', error));
        }
        // 绘制车辆
        function drawAvatar() {
            ctx.fillStyle = 'red';
            ctx.fillRect(avatar.x * 100, avatar.y * 100, 100, 100);
        }

        // TODO 更新地图
        function updateCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            drawMap();
            drawAvatar();
        }

        // setInterval(function () {
        //         updateLocation()
        //         updateCanvas();
        //     }, 1000);

    </script>
</body>
</html>